<!DOCTYPE>
{% load static %}
<html>

    <head>
        <title>About</title>
    </head>
    <body>
        <h1>Rango says...</h1>
        <div>
            here is the about page. <br />
            This tutorial has been put together by Carlos.<br />
        </div>
        <div>
            <a href="/rango/about">About</a>
        </div>
        <div>
            <img src="{% static 'images/rango.jpg' %}"
                 alt="Picture of Rango">
        </div>
        <div>
            <img src="{% get_media_prefix %}cat.jpg"
	                 alt="Picture of a Cat." />
        </div>
    </body>

</html>